.categories-cards {
    
}

.categories {
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    display: inline-block;
    width: 312px;
    height: 220px;
}

.categories header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    position: static;
    padding: 41px 116px 0;
}

.titles-categories {
    
}