header {
  background-color: var(--background-tertiary-color);
  display: flex; /* faz com que elementos da header (a e div) possam se comportar de forma automatica. */
  flex-direction: row; /* faz com que elementos do header se comportam na mesma linha. */
  justify-content: space-between; /* deixa um espaço entre os dois elementos de header. */
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
} /* nesse caso, estamos pegando o input checkbox e se ele estiver em estado de checked, utilizamos o ~ (sinal de irmandade para coletar uma tag irmã) para coletar o nav e aparecer na tela em forma de display block. Caso não esteja checked, o nav ficará com o display "none" */

.list-links {
  list-style: none;
} /* remove os marcadores de listas */

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none; /* remove o sublinhado abaixo do elemento "a". */
  font-weight: var(--menu-text-weight);
  font-size: 24px;
} /* seleciona elementos que está dentro da classe "list-links" que é o "li". Mas, após isso, também seleciona o elemento que está dentro do "li". Nesse caso, o elemento "a". */

nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navigation-menu li {
    margin: 0;
  }
} /* Faz com que aplique essas estilizações quando a tela for no minimo 768px, que é a tela minima para um tablet. */
