.hero .hero-img.hero-footer {
  background: url(../img/hero-footer-mobile.jpg) no-repeat;
  background-size: cover;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img.hero-footer {
    background: url(../img/hero-footer-tablet.jpg) no-repeat;
    background-size: cover;
  }
}
