:root{
    --background-primary-color:#ffffff;
    --background-secondary-color:#F5F5F5;
    --background-tertiary-color:#000000;

    --button-primary-color:#8F0101;
    --button-secundary-color:#B81515;

    --text-primary-color:#222222;
    --text-secundary-color:#FFFFFF; 
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--button-primary-color);
}